@if(visible()) {
<div
  (click)="closeSidebar.emit()"
  class="fixed inset-0 bg-slate-900/20 z-40 sm:hidden glass"
></div>
}

<aside
  class="flex flex-col gap-5 h-full w-1/2 sm:w-72 bg-white px-3 py-5 border-r border-grey-50 fixed inset-y-0 left-0 z-50 transition-transform duration-300 sm:translate-x-0 sm:static"
  [ngClass]="{ 'translate-x-0': visible(), '-translate-x-full': !visible() }"
>
  <div class="w-full h-16">
    <div routerLink="/admin" class="flex items-center h-full cursor-pointer">
      <ui-icon
        name="https://yvkurjivijnhliofmfmj.supabase.co/storage/v1/object/public/catalogohoy/logo.svg"
        styleClass="h-14"
      />
      <h1
        class="text-lg font-semibold text-grey-700 leading-none h-auto pt-1.5"
      >
        CatalogoHoy
      </h1>
    </div>
  </div>
  <ul class="flex flex-col gap-1.5 w-full h-full">
    <li
      routerLink="/admin"
      routerLinkActive="bg-primary-50"
      [routerLinkActiveOptions]="{exact: true}"
      class="flex items-center gap-2 w-full px-2 py-1 rounded-md cursor-pointer hover:bg-primary-50 transition-colors duration-100 ease-in-out"
    >
      <ui-icon name="home" size="16" />
      <a class="font-base font-semibold text-grey-700 mt-0.5">Inicio</a>
    </li>
    <li class="flex items-center gap-2 w-full rounded-md cursor-pointer">
      <ui-panel-menu
        [items]="productsMenu"
        [transitionOptions]="transitionOptions"
        class="w-full"
        styleClass="w-full"
      >
        <ng-template #item let-item>
          <div
            (click)="toggle(item)"
            [routerLink]="item.routerLink"
            routerLinkActive="bg-primary-50"
            class="flex items-center justify-between gap-2 w-full px-2 py-1 rounded-md hover:bg-primary-50 transition-colors duration-100 ease-in-out"
          >
            <div class="flex items-center gap-2">
              @if (item?.icon) {
              <ui-icon
                [name]="item?.icon"
                size="16"
                styleClass="text-grey-700"
              />
              }
              <a
                [ngClass]="{ 'ml-2': !item?.icon }"
                class="font-base font-semibold text-grey-700 mt-0.5"
                >{{item.label}}</a
              >
            </div>
            @if (item?.iconNext) {
            <ui-icon
              [name]="item?.iconNext"
              [ngClass]="{ 'rotate-90': item?.state?.isOpen }"
              size="16"
              class="transition-transform duration-200 ease-in-out"
              styleClass="text-grey-700"
            />
            }
          </div>
        </ng-template>
      </ui-panel-menu>
    </li>
    <li
      routerLink="/orders"
      routerLinkActive="bg-primary-50"
      [routerLinkActiveOptions]="{exact: true}"
      class="flex items-center gap-2 w-full px-2 py-1 rounded-md cursor-pointer hover:bg-primary-50 transition-colors duration-100 ease-in-out"
    >
      <ui-icon name="notepad-text" size="16" />
      <a class="font-base font-semibold text-grey-700 mt-0.5">Ordenes</a>
    </li>
    <li
      class="flex items-center justify-between gap-2 w-full px-2 py-1 rounded-md cursor-pointer hover:bg-primary-50 transition-colors duration-100 ease-in-out"
    >
      <div class="flex items-center gap-2">
        <ui-icon name="shopping-bag" size="16" />
        <a class="font-base font-semibold text-grey-700 mt-0.5">Mi catálogo</a>
      </div>
      <ui-icon
        name="square-arrow-out-up-right"
        size="16"
        class="transition-transform duration-200 ease-in-out"
        styleClass="text-grey-700"
      />
    </li>
  </ul>
  <div class="w-full h-auto">
    <div
      class="flex items-center gap-2 w-full px-2 py-1 rounded-md cursor-pointer hover:bg-primary-50 transition-colors duration-100 ease-in-out"
    >
      <ui-icon name="log-out" size="16" />
      <h4 class="text-base font-semibold text-grey-700">Cerrar sesión</h4>
    </div>
  </div>
</aside>
