<ui-menu #profileMenu [items]="[]" styleClass="profile-menu">
  <ng-template #end>
    <div
      class="flex flex-col border-t border-grey-50 bg-lino-500 rounded-b-lg"
    >
      <a
        routerLink="plans"
        class="flex items-center gap-2 px-3 py-3 hover:bg-primary-50 transition-colors duration-100 ease-in-out cursor-pointer"
      >
        <ui-icon
          name="credit-card"
          size="20"
          class="leading-none h-auto"
          styleClass="!text-grey-700"
        />
        <span class="text-base font-semibold text-grey-700 leading-none h-auto"
          >Planes</span
        >
      </a>
      <a
        routerLink="profile"
        class="flex items-center gap-2 px-3 py-3 hover:bg-primary-50 transition-colors duration-100 ease-in-out cursor-pointer"
      >
        <ui-icon
          name="circle-user"
          size="20"
          class="leading-none h-auto"
          styleClass="!text-grey-700"
        />
        <span class="text-base font-semibold text-grey-700 leading-none h-auto"
          >Mi Cuenta</span
        >
      </a>
    </div>
  </ng-template>
</ui-menu>
